<div class="message">
  <div class="message-top-row">
    <div class="author">
      <%= message.username %>
    </div>
    <div class="date">
      <%= message.formatted_date %>
    </div>
  </div>
  <div class="text">
    <%= message.message %>
  </div>
  <div class="button-row">
    <a href="/messages/<%= message.id %>" class="button-open">Open</a>
  </div>
</div>