<div class="message">
  <div class="message-top-row">
    <div class="author">
      <%= message.user %>
    </div>
    <div class="date">
      <%= message.added %>
    </div>
  </div>
  <div class="text">
    <%= message.text %>
  </div>
  <div class="button-row">
    <button class="button-open">Open</button>
  </div>
</div>